* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

:root {
    --black: #141414;
}

body {
    color      : var(--black);
    font-family: 'Fira Sans', sans-serif;
}

a {
    color          : var(--black);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display  : block;
    max-width: 100%;
}

.container {
    margin   : 0 auto;
    max-width: 1200px;
    width    : 100%;
}