* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

:root {
    --black: #141414;
}

body {
    color      : var(--black);
    font-family: 'Fira Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color          : var(--black);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display  : block;
    max-width: 100%;
}

.container {
    margin   : 0 auto;
    max-width: 1200px;
    padding  : 40px 20px;
    width    : 100%;
}

.subtitulo {
    font-size     : 8rem;
    line-height   : 1;
    text-transform: uppercase;
    word-break    : break-word;
    max-width     : 4ch;
}

.experiencia-texto {
    color        : #525252;
    font-size    : 1.5rem;
    line-height  : 1.33;
    margin-bottom: 60px;
    max-width    : 40ch;
}

.texto-paragrafo {
    color        : #525252;
    font-size    : 1.5rem;
    line-height  : 1.33;
    margin-bottom: 60px;
    max-width    : 40ch;
}

@media screen and (max-width: 800px) {
    .subtitulo {
        font-size     : 3rem;
        text-transform: capitalize;
        max-width     : initial;
    }
}