.introducao {
    align-items          : center;
    display              : grid;
    gap                  : 100px;
    grid-template-columns: 1fr 2fr;
}

.introducao h1 {
    font-size    : 4.5rem;
    line-height  : 1.125;
    margin-bottom: 30px;
    position     : relative;
}

.introducao h1::before {
    background: url("../images/detalhe.svg") no-repeat center;
    content   : "";
    display   : block;
    height    : 100px;
    left      : -40px;
    position  : absolute;
    top       : -15px;
    width     : 130px;
    z-index   : -1;
}

.introducao p {
    color    : #525252;
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .introducao {
        gap                  : 40px;
        grid-template-columns: 1fr 1fr;
    }

    .introducao h1 {
        font-size: 2rem;
    }

    .introducao h1::before {
        height: 10px;
        left  : 0;
        width : 30px;
    }

    .introducao p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 450px) {
    .introducao {
        grid-template-columns: 1fr;
        margin-top           : 20px;
        text-align           : center;
    }

    .introducao h1::before {
        left: 180px;
    }

    .introducao img {
        display: none;
    }

    .introducao p {
        font-size: 1rem;
    }
}