@use "sass:map";

$theme-color: (
    --eclipse: #141414,
    --granite: #525252,
    --alabaster: #e0e0e0,
    --fog: #f5f5f5,
    --lime-flash: #b6f829,
    --spring-green: #67dd0a,
    --pure-white: #ffffff,
    --absolute-black: #000000,
    --silver-mist: #cccccc,
    --stone-gray: #8f8f8f,
    --pewter: #a3a3a3);