@use "../global/typography";
@use "../global/colors";
@use "../util/util";
@use "../global/mixins";

.header {
    @include mixins.display-flex(center, space-between);

    flex-wrap: wrap;
    padding  : 40px 2%;

    @include util.devices(m) {
        flex-direction: column;
        gap           : 30px;
        padding       : 20px 0;
    }

    &-menu {
        @include mixins.display-flex(center, center);
        flex-wrap: wrap;
        gap      : 10px;

        a {
            @include typography.typography-01(18);

            display    : inline-block;
            line-height: 1.3;
            padding    : 10px 20px;
            position   : relative;
            text-align : center;
            transition : all .3s ease-out;

            &:hover {
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                transform: translateY(-3px);
            }
        }
    }
}